# HW4--Dan Shao

## Exercise #1 (10 points)

Each year, Inc.--an entrepreneurial-oriented media entity--publishes it's Inc. 5000 List, highlighting the fasting growing startups in the U.S. Attached is a .csv file of the list for 2017Preview the document. Download the file and perform the following tasks related to data input/output and wrangling.

#### a. (2 points) Import the Inc. 5000 data using basic file input techniques (i.e., either via open(filename) or the csv module). Create a dictionary (inc100) that contains the top 100 companies according to the rank (note that the rank is determine based on the growth of the companies revenues from the previous year), using the rank as the key. For each company (rank) in the dictionary, the value should be a dictionary containing the following (populated) fields:

'name': Company name (company)
'founded': Founding date (founded)
'industry': Industry (industry)
'metro': Metropolitan area of company location (metro)
'workers': Number of employees (workers)
Display (print) your full dictionary object and also demonstrate the ability to select specific companies from the dictionary according to their rank (at least two examples).

In [1]:
# import the module
import csv
import pandas as pd
import numpy as np

In [2]:
## create an empty dictionarie, 
inc100={}
## open csv and build the first dictionary
with open('inc5000_2017.csv','r')as csv_file:
    ## read csv
    data=csv.DictReader(csv_file, delimiter=",")
    for row in data:
        ## only extract top 100 values
        if int(row['rank']) <101:
            ## get values (select columns needed and rename 'company')
            dict_inc={'name': row['company'],'founded': row['founded'],'industry': row['industry'],'metro': row['metro'], 'workers':int(row['workers'])}
            inc100[int(row['rank'])]=dict_inc
    
inc100

{1: {'name': 'Skillz',
  'founded': '2012-01-01',
  'industry': 'Software',
  'metro': 'San Francisco',
  'workers': 58},
 2: {'name': 'EnviroSolar Power',
  'founded': '2012-01-01',
  'industry': 'Energy',
  'metro': 'Dallas',
  'workers': 85},
 3: {'name': 'Gametime',
  'founded': '2013-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'San Francisco',
  'workers': 75},
 4: {'name': 'Club Pilates Franchise',
  'founded': '2007-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'Los Angeles',
  'workers': 55},
 5: {'name': 'Halo Top Creamery',
  'founded': '2012-01-01',
  'industry': 'Food & Beverage',
  'metro': 'Los Angeles',
  'workers': 10},
 6: {'name': 'Small Business Owners of America',
  'founded': '2011-01-01',
  'industry': 'Financial Services',
  'metro': 'Columbus, OH',
  'workers': 15},
 7: {'name': 'AutomotiveMastermind',
  'founded': '2012-01-01',
  'industry': 'Software',
  'metro': 'New York City',
  'workers': 102},
 8: {'name': 'Liftoff',
  'founded': '2012-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'San Jose',
  'workers': 85},
 9: {'name': 'Greenspire',
  'founded': '2012-01-01',
  'industry': 'Energy',
  'metro': 'Los Angeles',
  'workers': 150},
 10: {'name': 'FormulaFolio Investments',
  'founded': '2011-01-01',
  'industry': 'Financial Services',
  'metro': 'Grand Rapids-Wyoming, MI',
  'workers': 43},
 11: {'name': 'Single Serve Beverage Distribution',
  'founded': '2012-01-01',
  'industry': 'Food & Beverage',
  'metro': 'New York City',
  'workers': 30},
 12: {'name': 'ShipHawk',
  'founded': '2012-01-01',
  'industry': 'Logistics & Transportation',
  'metro': 'Santa Maria-Santa Barbara, CA',
  'workers': 23},
 13: {'name': 'Adva-Net',
  'founded': '2012-01-01',
  'industry': 'Health',
  'metro': 'North Port-Sarasota-Bradenton, FL',
  'workers': 26},
 14: {'name': 'DashBid',
  'founded': '2010-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'New York City',
  'workers': 28},
 15: {'name': 'Forward Financing',
  'founded': '2012-01-01',
  'industry': 'Financial Services',
  'metro': 'Boston',
  'workers': 60},
 16: {'name': 'Solera Specialty Pharmacy',
  'founded': '2012-01-01',
  'industry': 'Health',
  'metro': 'Miami',
  'workers': 22},
 17: {'name': 'Strike Social',
  'founded': '2013-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'Chicago',
  'workers': 100},
 18: {'name': 'Reverb.com',
  'founded': '2012-01-01',
  'industry': 'Retail',
  'metro': 'Chicago',
  'workers': 116},
 19: {'name': 'Excel Impact',
  'founded': '2013-01-01',
  'industry': 'Insurance',
  'metro': 'Cleveland',
  'workers': 6},
 20: {'name': 'DGC International',
  'founded': '2010-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': 10},
 21: {'name': 'Shofur',
  'founded': '2013-01-01',
  'industry': 'Logistics & Transportation',
  'metro': 'Atlanta',
  'workers': 14},
 22: {'name': 'GrowthPlay',
  'founded': '2013-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Chicago',
  'workers': 140},
 23: {'name': 'CalCom Solar',
  'founded': '2012-01-01',
  'industry': 'Energy',
  'metro': 'Visalia-Porterville, CA',
  'workers': 59},
 24: {'name': 'ION Solar',
  'founded': '2013-01-01',
  'industry': 'Energy',
  'metro': 'Provo-Orem, UT',
  'workers': 476},
 25: {'name': 'The Penny Hoarder',
  'founded': '2010-01-01',
  'industry': 'Media',
  'metro': 'Tampa',
  'workers': 49},
 26: {'name': 'Matterport',
  'founded': '2011-01-01',
  'industry': 'Media',
  'metro': 'San Jose',
  'workers': 174},
 27: {'name': 'Legend Solar',
  'founded': '2011-01-01',
  'industry': 'Energy',
  'metro': 'St. George, UT',
  'workers': 102},
 28: {'name': 'SaviLinx',
  'founded': '2013-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Portland-South Portland, ME',
  'workers': 338},
 29: {'name': 'TechAnax',
  'founded': '2012-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': 12},
 30: {'name': 'Spar Information Systems',
  'founded': '2012-01-01',
  'industry': 'IT Services',
  'metro': 'Dallas',
  'workers': 400},
 31: {'name': 'Big Block Realty',
  'founded': '2012-01-01',
  'industry': 'Real Estate',
  'metro': 'San Diego',
  'workers': 12},
 32: {'name': 'RelationEdge',
  'founded': '2013-01-01',
  'industry': 'Business Products & Services',
  'metro': 'San Diego',
  'workers': 69},
 33: {'name': 'Globalization Partners',
  'founded': '2012-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Boston',
  'workers': 32},
 34: {'name': 'Carvana',
  'founded': '2013-01-01',
  'industry': 'Retail',
  'metro': 'Phoenix',
  'workers': 1069},
 35: {'name': 'Axe Wellness',
  'founded': '2009-01-01',
  'industry': 'Health',
  'metro': 'Nashville',
  'workers': 60},
 36: {'name': 'Interactive Government Holdings',
  'founded': '2006-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': 150},
 37: {'name': 'Bay State Search',
  'founded': '2013-01-01',
  'industry': 'Human Resources',
  'metro': 'Boston',
  'workers': 250},
 38: {'name': 'Enhanced Veterans Solutions',
  'founded': '2007-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': 68},
 39: {'name': 'Dealer Inspire',
  'founded': '2012-01-01',
  'industry': 'Software',
  'metro': 'Chicago',
  'workers': 130},
 40: {'name': "Na Ali'i Consulting and Sales",
  'founded': '2003-01-01',
  'industry': 'Government Services',
  'metro': 'Urban Honolulu, HI',
  'workers': 98},
 41: {'name': 'Dyla',
  'founded': '2012-01-01',
  'industry': 'Food & Beverage',
  'metro': 'New York City',
  'workers': 15},
 42: {'name': 'BlackRock Construction',
  'founded': '2012-01-01',
  'industry': 'Construction',
  'metro': 'Burlington-South Burlington, VT',
  'workers': 10},
 43: {'name': 'MM.LaFleur',
  'founded': '2013-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'New York City',
  'workers': 175},
 44: {'name': 'Lever1',
  'founded': '2012-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Kansas City, MO-KS',
  'workers': 16},
 45: {'name': 'TrackR',
  'founded': '2009-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'Santa Maria-Santa Barbara, CA',
  'workers': 59},
 46: {'name': 'ByteCubed',
  'founded': '2011-01-01',
  'industry': 'IT Services',
  'metro': 'Washington, DC',
  'workers': 120},
 47: {'name': 'Avant',
  'founded': '2012-01-01',
  'industry': 'Financial Services',
  'metro': 'Chicago',
  'workers': 468},
 48: {'name': 'iBenzer',
  'founded': '2012-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'New York City',
  'workers': 20},
 49: {'name': 'Boost Marketing Group',
  'founded': '2012-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'Grand Rapids-Wyoming, MI',
  'workers': 6},
 50: {'name': 'FedBiz IT Solutions',
  'founded': '2011-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': 12},
 51: {'name': 'BASX Solutions',
  'founded': '2012-01-01',
  'industry': 'Manufacturing',
  'metro': 'Bend-Redmond, OR',
  'workers': 160},
 52: {'name': 'Discount Power Texas',
  'founded': '2009-01-01',
  'industry': 'Energy',
  'metro': 'Houston',
  'workers': 37},
 53: {'name': 'Lauren James Enterprises',
  'founded': '2013-01-01',
  'industry': 'Retail',
  'metro': 'Fayetteville-Springdale-Rogers, AR-MO',
  'workers': 100},
 54: {'name': 'Boomsourcing',
  'founded': '2007-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Provo-Orem, UT',
  'workers': 385},
 55: {'name': 'ClearView',
  'founded': '2013-01-01',
  'industry': 'Software',
  'metro': 'Madison, WI',
  'workers': 37},
 56: {'name': 'Samba TV',
  'founded': '2008-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'San Francisco',
  'workers': 165},
 57: {'name': 'Thought Logic Consulting',
  'founded': '2013-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Atlanta',
  'workers': 38},
 58: {'name': "Chef's Cut Real Jerky",
  'founded': '2009-01-01',
  'industry': 'Food & Beverage',
  'metro': 'New York City',
  'workers': 30},
 59: {'name': 'InfoScout',
  'founded': '2011-01-01',
  'industry': 'Business Products & Services',
  'metro': 'San Francisco',
  'workers': 89},
 60: {'name': 'Infusion Express',
  'founded': '2013-01-01',
  'industry': 'Health',
  'metro': 'Kansas City, MO-KS',
  'workers': 34},
 61: {'name': "Givington's",
  'founded': '2012-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Fayetteville-Springdale-Rogers, AR-MO',
  'workers': 19},
 62: {'name': 'Allego',
  'founded': '2013-01-01',
  'industry': 'Software',
  'metro': 'Boston',
  'workers': 39},
 63: {'name': 'The Air Travel Group',
  'founded': '2013-01-01',
  'industry': 'Travel & Hospitality',
  'metro': 'Orlando, FL',
  'workers': 15},
 64: {'name': 'Associated Veterans',
  'founded': '2007-01-01',
  'industry': 'Government Services',
  'metro': 'Washington, DC',
  'workers': 49},
 65: {'name': 'PANTHERx Specialty Pharmacy',
  'founded': '2011-01-01',
  'industry': 'Health',
  'metro': 'Pittsburgh, PA',
  'workers': 80},
 66: {'name': 'Gimbal',
  'founded': '2012-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'Los Angeles',
  'workers': 88},
 67: {'name': 'Momentum Solar',
  'founded': '2009-01-01',
  'industry': 'Energy',
  'metro': 'New York City',
  'workers': 396},
 68: {'name': 'Symbia Logistics',
  'founded': '2007-01-01',
  'industry': 'Logistics & Transportation',
  'metro': 'Edwards, CO',
  'workers': 250},
 69: {'name': 'Inspire Medical Systems',
  'founded': '2007-01-01',
  'industry': 'Health',
  'metro': 'Minneapolis',
  'workers': 81},
 70: {'name': 'RightDirection Technology Solutions',
  'founded': '2007-01-01',
  'industry': 'Government Services',
  'metro': 'Baltimore',
  'workers': 88},
 71: {'name': 'TFM Truckload',
  'founded': '2011-01-01',
  'industry': 'Logistics & Transportation',
  'metro': 'Pittsburgh, PA',
  'workers': 38},
 72: {'name': 'S2 Capital',
  'founded': '2012-01-01',
  'industry': 'Real Estate',
  'metro': 'Dallas',
  'workers': 150},
 73: {'name': 'Greentek Energy Systems',
  'founded': '2011-01-01',
  'industry': 'Energy',
  'metro': 'Atlanta',
  'workers': 20},
 74: {'name': 'Oakwood Search',
  'founded': '2012-01-01',
  'industry': 'Human Resources',
  'metro': 'Denver',
  'workers': 16},
 75: {'name': 'County Fabricators',
  'founded': '2004-01-01',
  'industry': 'Construction',
  'metro': 'New York City',
  'workers': 22},
 76: {'name': 'ServiceTitan',
  'founded': '2013-01-01',
  'industry': 'Software',
  'metro': 'Los Angeles',
  'workers': 147},
 77: {'name': 'Agema Technology',
  'founded': '2012-01-01',
  'industry': 'IT Services',
  'metro': 'Los Angeles',
  'workers': 22},
 78: {'name': 'Linux Academy',
  'founded': '2012-01-01',
  'industry': 'Education',
  'metro': 'Dallas',
  'workers': 67},
 79: {'name': 'E-file.com',
  'founded': '2011-01-01',
  'industry': 'Consumer Products & Services',
  'metro': 'Jacksonville, FL',
  'workers': 2},
 80: {'name': 'The Elephant Pants',
  'founded': '2012-01-01',
  'industry': 'Retail',
  'metro': 'New York City',
  'workers': 11},
 81: {'name': 'Brazi Bites',
  'founded': '2010-01-01',
  'industry': 'Food & Beverage',
  'metro': 'Portland, OR',
  'workers': 5},
 82: {'name': 'Anovia Payments',
  'founded': '2013-01-01',
  'industry': 'Financial Services',
  'metro': 'Dallas',
  'workers': 50},
 83: {'name': 'Griffin Funding',
  'founded': '2013-01-01',
  'industry': 'Financial Services',
  'metro': 'San Diego',
  'workers': 24},
 84: {'name': 'Sun Up Zero Down',
  'founded': '2013-01-01',
  'industry': 'Energy',
  'metro': 'Atlantic City-Hammonton, NJ',
  'workers': 20},
 85: {'name': 'Nine Line Apparel',
  'founded': '2012-01-01',
  'industry': 'Retail',
  'metro': 'Savannah, GA',
  'workers': 147},
 86: {'name': 'A. Prentice Ray & Associates',
  'founded': '2005-01-01',
  'industry': 'IT Services',
  'metro': 'Washington, DC',
  'workers': 75},
 87: {'name': 'Trinity Air Medical',
  'founded': '2012-01-01',
  'industry': 'Logistics & Transportation',
  'metro': 'Phoenix',
  'workers': 35},
 88: {'name': 'Lexicon Health',
  'founded': '2012-01-01',
  'industry': 'Media',
  'metro': 'San Jose',
  'workers': 11},
 89: {'name': 'American Business Brokers',
  'founded': '2011-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Salt Lake City',
  'workers': 4},
 90: {'name': 'Draken International',
  'founded': '2011-01-01',
  'industry': 'Government Services',
  'metro': 'Lakeland-Winter Haven, FL',
  'workers': 150},
 91: {'name': 'Shapes Secrets',
  'founded': '2013-01-01',
  'industry': 'Retail',
  'metro': 'Miami',
  'workers': 65},
 92: {'name': 'MKS2',
  'founded': '2008-01-01',
  'industry': 'Government Services',
  'metro': 'Austin',
  'workers': 58},
 93: {'name': 'Hotel Rehabs',
  'founded': '2010-01-01',
  'industry': 'Construction',
  'metro': 'Chicago',
  'workers': 7},
 94: {'name': 'Level Office',
  'founded': '2013-01-01',
  'industry': 'Real Estate',
  'metro': 'Chicago',
  'workers': 34},
 95: {'name': 'Idea Farmer',
  'founded': '2011-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'Los Angeles',
  'workers': 11},
 96: {'name': 'POWER HOME SOLAR',
  'founded': '2013-01-01',
  'industry': 'Construction',
  'metro': 'Charlotte',
  'workers': 109},
 97: {'name': 'Harbinger',
  'founded': '2013-01-01',
  'industry': 'Advertising & Marketing',
  'metro': 'Washington, DC',
  'workers': 21},
 98: {'name': 'Regal Service Company',
  'founded': '1975-01-01',
  'industry': 'Construction',
  'metro': 'Urban Honolulu, HI',
  'workers': 30},
 99: {'name': "S'well",
  'founded': '2010-01-01',
  'industry': 'Retail',
  'metro': 'New York City',
  'workers': 75},
 100: {'name': 'Signs.com',
  'founded': '2012-01-01',
  'industry': 'Business Products & Services',
  'metro': 'Salt Lake City',
  'workers': 26}}

In [3]:
# create a function to display ranking and company information in a more readable way
def company(rank=1):
    print('Ranking:', str(rank),inc100[rank])

In [4]:
# Example 1
company(76)

Ranking: 76 {'name': 'ServiceTitan', 'founded': '2013-01-01', 'industry': 'Software', 'metro': 'Los Angeles', 'workers': 147}

In [5]:
# Example 2
company(23)

Ranking: 23 {'name': 'CalCom Solar', 'founded': '2012-01-01', 'industry': 'Energy', 'metro': 'Visalia-Porterville, CA', 'workers': 59}

#### b. (1 point) Convert your dictionary directly into a DataFrame. What do you observe about the structure of the resultant DataFrame, and how might you modify your process from part a) to adjust this structure into a more appropriate form?

If I transform inc100 to dataframe by default, then the dataframe will set column as index and rank as columns, which is not what I want. I should set column names insdead of rankings as the keys of the first level dictionary, and then set the rankings as the keys of second level dictionary.

In [6]:
# transform inc100 to a dataframe by default
df_inc100_dict = pd.DataFrame.from_dict(inc100)
df_inc100_dict

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
founded,2012-01-01,2012-01-01,2013-01-01,2007-01-01,2012-01-01,2011-01-01,2012-01-01,2012-01-01,2012-01-01,2011-01-01,...,2013-01-01,2008-01-01,2010-01-01,2013-01-01,2011-01-01,2013-01-01,2013-01-01,1975-01-01,2010-01-01,2012-01-01
industry,Software,Energy,Consumer Products & Services,Consumer Products & Services,Food & Beverage,Financial Services,Software,Advertising & Marketing,Energy,Financial Services,...,Retail,Government Services,Construction,Real Estate,Advertising & Marketing,Construction,Advertising & Marketing,Construction,Retail,Business Products & Services
metro,San Francisco,Dallas,San Francisco,Los Angeles,Los Angeles,"Columbus, OH",New York City,San Jose,Los Angeles,"Grand Rapids-Wyoming, MI",...,Miami,Austin,Chicago,Chicago,Los Angeles,Charlotte,"Washington, DC","Urban Honolulu, HI",New York City,Salt Lake City
name,Skillz,EnviroSolar Power,Gametime,Club Pilates Franchise,Halo Top Creamery,Small Business Owners of America,AutomotiveMastermind,Liftoff,Greenspire,FormulaFolio Investments,...,Shapes Secrets,MKS2,Hotel Rehabs,Level Office,Idea Farmer,POWER HOME SOLAR,Harbinger,Regal Service Company,S'well,Signs.com
workers,58,85,75,55,10,15,102,85,150,43,...,65,58,7,34,11,109,21,30,75,26

#### c. (1 point) Based on your answer from part b), revise your import process from part a) so that you can use the dictionary to create a more appropriately formatted DataFrame. Demonstrate your improved process by displaying (printing) your modified dictionary format and previewing the first 10 rows of your resultant DataFrame.

In [7]:
# revise your import process from part a
inc100_c={}
## open csv and build dictionary
with open('inc5000_2017.csv','r')as csv_file:
    ## read csv as dictionary
    data=csv.DictReader(csv_file, delimiter=",")
    ## 5 empty dinctionaries to store values corresponding to 5 keys
    dict_name = {}
    dict_found = {}
    dict_industry ={}
    dict_metro={}
    dict_workers={}
    ## loop to extract values
    for row in data:
        ## only extract top 100 values
        if int(row['rank']) <101:
            ## matching keys and values
            dict_inc_name={int(row['rank']): row['company']}
            dict_inc_found={int(row['rank']): row['founded']}
            dict_inc_industry={int(row['rank']): row['industry']}
            dict_inc_metro={int(row['rank']): row['metro']}
            dict_inc_workers={int(row['rank']): row['workers']}
            dict_name.update(dict_inc_name)
            dict_found.update(dict_inc_found)
            dict_industry.update(dict_inc_industry)
            dict_metro.update(dict_inc_metro)
            dict_workers.update(dict_inc_workers)
        inc100_c['name']= dict_name
        inc100_c['founded']= dict_found
        inc100_c['industry']= dict_industry
        inc100_c['metro']= dict_metro
        inc100_c['workers']= dict_workers
inc100_c

{'name': {1: 'Skillz',
  2: 'EnviroSolar Power',
  3: 'Gametime',
  4: 'Club Pilates Franchise',
  5: 'Halo Top Creamery',
  6: 'Small Business Owners of America',
  7: 'AutomotiveMastermind',
  8: 'Liftoff',
  9: 'Greenspire',
  10: 'FormulaFolio Investments',
  11: 'Single Serve Beverage Distribution',
  12: 'ShipHawk',
  13: 'Adva-Net',
  14: 'DashBid',
  15: 'Forward Financing',
  16: 'Solera Specialty Pharmacy',
  17: 'Strike Social',
  18: 'Reverb.com',
  19: 'Excel Impact',
  20: 'DGC International',
  21: 'Shofur',
  22: 'GrowthPlay',
  23: 'CalCom Solar',
  24: 'ION Solar',
  25: 'The Penny Hoarder',
  26: 'Matterport',
  27: 'Legend Solar',
  28: 'SaviLinx',
  29: 'TechAnax',
  30: 'Spar Information Systems',
  31: 'Big Block Realty',
  32: 'RelationEdge',
  33: 'Globalization Partners',
  34: 'Carvana',
  35: 'Axe Wellness',
  36: 'Interactive Government Holdings',
  37: 'Bay State Search',
  38: 'Enhanced Veterans Solutions',
  39: 'Dealer Inspire',
  40: "Na Ali'i Consulting and Sales",
  41: 'Dyla',
  42: 'BlackRock Construction',
  43: 'MM.LaFleur',
  44: 'Lever1',
  45: 'TrackR',
  46: 'ByteCubed',
  47: 'Avant',
  48: 'iBenzer',
  49: 'Boost Marketing Group',
  50: 'FedBiz IT Solutions',
  51: 'BASX Solutions',
  52: 'Discount Power Texas',
  53: 'Lauren James Enterprises',
  54: 'Boomsourcing',
  55: 'ClearView',
  56: 'Samba TV',
  57: 'Thought Logic Consulting',
  58: "Chef's Cut Real Jerky",
  59: 'InfoScout',
  60: 'Infusion Express',
  61: "Givington's",
  62: 'Allego',
  63: 'The Air Travel Group',
  64: 'Associated Veterans',
  65: 'PANTHERx Specialty Pharmacy',
  66: 'Gimbal',
  67: 'Momentum Solar',
  68: 'Symbia Logistics',
  69: 'Inspire Medical Systems',
  70: 'RightDirection Technology Solutions',
  71: 'TFM Truckload',
  72: 'S2 Capital',
  73: 'Greentek Energy Systems',
  74: 'Oakwood Search',
  75: 'County Fabricators',
  76: 'ServiceTitan',
  77: 'Agema Technology',
  78: 'Linux Academy',
  79: 'E-file.com',
  80: 'The Elephant Pants',
  81: 'Brazi Bites',
  82: 'Anovia Payments',
  83: 'Griffin Funding',
  84: 'Sun Up Zero Down',
  85: 'Nine Line Apparel',
  86: 'A. Prentice Ray & Associates',
  87: 'Trinity Air Medical',
  88: 'Lexicon Health',
  89: 'American Business Brokers',
  90: 'Draken International',
  91: 'Shapes Secrets',
  92: 'MKS2',
  93: 'Hotel Rehabs',
  94: 'Level Office',
  95: 'Idea Farmer',
  96: 'POWER HOME SOLAR',
  97: 'Harbinger',
  98: 'Regal Service Company',
  99: "S'well",
  100: 'Signs.com'},
 'founded': {1: '2012-01-01',
  2: '2012-01-01',
  3: '2013-01-01',
  4: '2007-01-01',
  5: '2012-01-01',
  6: '2011-01-01',
  7: '2012-01-01',
  8: '2012-01-01',
  9: '2012-01-01',
  10: '2011-01-01',
  11: '2012-01-01',
  12: '2012-01-01',
  13: '2012-01-01',
  14: '2010-01-01',
  15: '2012-01-01',
  16: '2012-01-01',
  17: '2013-01-01',
  18: '2012-01-01',
  19: '2013-01-01',
  20: '2010-01-01',
  21: '2013-01-01',
  22: '2013-01-01',
  23: '2012-01-01',
  24: '2013-01-01',
  25: '2010-01-01',
  26: '2011-01-01',
  27: '2011-01-01',
  28: '2013-01-01',
  29: '2012-01-01',
  30: '2012-01-01',
  31: '2012-01-01',
  32: '2013-01-01',
  33: '2012-01-01',
  34: '2013-01-01',
  35: '2009-01-01',
  36: '2006-01-01',
  37: '2013-01-01',
  38: '2007-01-01',
  39: '2012-01-01',
  40: '2003-01-01',
  41: '2012-01-01',
  42: '2012-01-01',
  43: '2013-01-01',
  44: '2012-01-01',
  45: '2009-01-01',
  46: '2011-01-01',
  47: '2012-01-01',
  48: '2012-01-01',
  49: '2012-01-01',
  50: '2011-01-01',
  51: '2012-01-01',
  52: '2009-01-01',
  53: '2013-01-01',
  54: '2007-01-01',
  55: '2013-01-01',
  56: '2008-01-01',
  57: '2013-01-01',
  58: '2009-01-01',
  59: '2011-01-01',
  60: '2013-01-01',
  61: '2012-01-01',
  62: '2013-01-01',
  63: '2013-01-01',
  64: '2007-01-01',
  65: '2011-01-01',
  66: '2012-01-01',
  67: '2009-01-01',
  68: '2007-01-01',
  69: '2007-01-01',
  70: '2007-01-01',
  71: '2011-01-01',
  72: '2012-01-01',
  73: '2011-01-01',
  74: '2012-01-01',
  75: '2004-01-01',
  76: '2013-01-01',
  77: '2012-01-01',
  78: '2012-01-01',
  79: '2011-01-01',
  80: '2012-01-01',
  81: '2010-01-01',
  82: '2013-01-01',
  83: '2013-01-01',
  84: '2013-01-01',
  85: '2012-01-01',
  86: '2005-01-01',
  87: '2012-01-01',
  88: '2012-01-01',
  89: '2011-01-01',
  90: '2011-01-01',
  91: '2013-01-01',
  92: '2008-01-01',
  93: '2010-01-01',
  94: '2013-01-01',
  95: '2011-01-01',
  96: '2013-01-01',
  97: '2013-01-01',
  98: '1975-01-01',
  99: '2010-01-01',
  100: '2012-01-01'},
 'industry': {1: 'Software',
  2: 'Energy',
  3: 'Consumer Products & Services',
  4: 'Consumer Products & Services',
  5: 'Food & Beverage',
  6: 'Financial Services',
  7: 'Software',
  8: 'Advertising & Marketing',
  9: 'Energy',
  10: 'Financial Services',
  11: 'Food & Beverage',
  12: 'Logistics & Transportation',
  13: 'Health',
  14: 'Advertising & Marketing',
  15: 'Financial Services',
  16: 'Health',
  17: 'Advertising & Marketing',
  18: 'Retail',
  19: 'Insurance',
  20: 'Government Services',
  21: 'Logistics & Transportation',
  22: 'Business Products & Services',
  23: 'Energy',
  24: 'Energy',
  25: 'Media',
  26: 'Media',
  27: 'Energy',
  28: 'Business Products & Services',
  29: 'Government Services',
  30: 'IT Services',
  31: 'Real Estate',
  32: 'Business Products & Services',
  33: 'Business Products & Services',
  34: 'Retail',
  35: 'Health',
  36: 'Government Services',
  37: 'Human Resources',
  38: 'Government Services',
  39: 'Software',
  40: 'Government Services',
  41: 'Food & Beverage',
  42: 'Construction',
  43: 'Consumer Products & Services',
  44: 'Business Products & Services',
  45: 'Consumer Products & Services',
  46: 'IT Services',
  47: 'Financial Services',
  48: 'Consumer Products & Services',
  49: 'Advertising & Marketing',
  50: 'Government Services',
  51: 'Manufacturing',
  52: 'Energy',
  53: 'Retail',
  54: 'Business Products & Services',
  55: 'Software',
  56: 'Advertising & Marketing',
  57: 'Business Products & Services',
  58: 'Food & Beverage',
  59: 'Business Products & Services',
  60: 'Health',
  61: 'Business Products & Services',
  62: 'Software',
  63: 'Travel & Hospitality',
  64: 'Government Services',
  65: 'Health',
  66: 'Advertising & Marketing',
  67: 'Energy',
  68: 'Logistics & Transportation',
  69: 'Health',
  70: 'Government Services',
  71: 'Logistics & Transportation',
  72: 'Real Estate',
  73: 'Energy',
  74: 'Human Resources',
  75: 'Construction',
  76: 'Software',
  77: 'IT Services',
  78: 'Education',
  79: 'Consumer Products & Services',
  80: 'Retail',
  81: 'Food & Beverage',
  82: 'Financial Services',
  83: 'Financial Services',
  84: 'Energy',
  85: 'Retail',
  86: 'IT Services',
  87: 'Logistics & Transportation',
  88: 'Media',
  89: 'Business Products & Services',
  90: 'Government Services',
  91: 'Retail',
  92: 'Government Services',
  93: 'Construction',
  94: 'Real Estate',
  95: 'Advertising & Marketing',
  96: 'Construction',
  97: 'Advertising & Marketing',
  98: 'Construction',
  99: 'Retail',
  100: 'Business Products & Services'},
 'metro': {1: 'San Francisco',
  2: 'Dallas',
  3: 'San Francisco',
  4: 'Los Angeles',
  5: 'Los Angeles',
  6: 'Columbus, OH',
  7: 'New York City',
  8: 'San Jose',
  9: 'Los Angeles',
  10: 'Grand Rapids-Wyoming, MI',
  11: 'New York City',
  12: 'Santa Maria-Santa Barbara, CA',
  13: 'North Port-Sarasota-Bradenton, FL',
  14: 'New York City',
  15: 'Boston',
  16: 'Miami',
  17: 'Chicago',
  18: 'Chicago',
  19: 'Cleveland',
  20: 'Washington, DC',
  21: 'Atlanta',
  22: 'Chicago',
  23: 'Visalia-Porterville, CA',
  24: 'Provo-Orem, UT',
  25: 'Tampa',
  26: 'San Jose',
  27: 'St. George, UT',
  28: 'Portland-South Portland, ME',
  29: 'Washington, DC',
  30: 'Dallas',
  31: 'San Diego',
  32: 'San Diego',
  33: 'Boston',
  34: 'Phoenix',
  35: 'Nashville',
  36: 'Washington, DC',
  37: 'Boston',
  38: 'Washington, DC',
  39: 'Chicago',
  40: 'Urban Honolulu, HI',
  41: 'New York City',
  42: 'Burlington-South Burlington, VT',
  43: 'New York City',
  44: 'Kansas City, MO-KS',
  45: 'Santa Maria-Santa Barbara, CA',
  46: 'Washington, DC',
  47: 'Chicago',
  48: 'New York City',
  49: 'Grand Rapids-Wyoming, MI',
  50: 'Washington, DC',
  51: 'Bend-Redmond, OR',
  52: 'Houston',
  53: 'Fayetteville-Springdale-Rogers, AR-MO',
  54: 'Provo-Orem, UT',
  55: 'Madison, WI',
  56: 'San Francisco',
  57: 'Atlanta',
  58: 'New York City',
  59: 'San Francisco',
  60: 'Kansas City, MO-KS',
  61: 'Fayetteville-Springdale-Rogers, AR-MO',
  62: 'Boston',
  63: 'Orlando, FL',
  64: 'Washington, DC',
  65: 'Pittsburgh, PA',
  66: 'Los Angeles',
  67: 'New York City',
  68: 'Edwards, CO',
  69: 'Minneapolis',
  70: 'Baltimore',
  71: 'Pittsburgh, PA',
  72: 'Dallas',
  73: 'Atlanta',
  74: 'Denver',
  75: 'New York City',
  76: 'Los Angeles',
  77: 'Los Angeles',
  78: 'Dallas',
  79: 'Jacksonville, FL',
  80: 'New York City',
  81: 'Portland, OR',
  82: 'Dallas',
  83: 'San Diego',
  84: 'Atlantic City-Hammonton, NJ',
  85: 'Savannah, GA',
  86: 'Washington, DC',
  87: 'Phoenix',
  88: 'San Jose',
  89: 'Salt Lake City',
  90: 'Lakeland-Winter Haven, FL',
  91: 'Miami',
  92: 'Austin',
  93: 'Chicago',
  94: 'Chicago',
  95: 'Los Angeles',
  96: 'Charlotte',
  97: 'Washington, DC',
  98: 'Urban Honolulu, HI',
  99: 'New York City',
  100: 'Salt Lake City'},
 'workers': {1: '58',
  2: '85',
  3: '75',
  4: '55',
  5: '10',
  6: '15',
  7: '102',
  8: '85',
  9: '150',
  10: '43',
  11: '30',
  12: '23',
  13: '26',
  14: '28',
  15: '60',
  16: '22',
  17: '100',
  18: '116',
  19: '6',
  20: '10',
  21: '14',
  22: '140',
  23: '59',
  24: '476',
  25: '49',
  26: '174',
  27: '102',
  28: '338',
  29: '12',
  30: '400',
  31: '12',
  32: '69',
  33: '32',
  34: '1069',
  35: '60',
  36: '150',
  37: '250',
  38: '68',
  39: '130',
  40: '98',
  41: '15',
  42: '10',
  43: '175',
  44: '16',
  45: '59',
  46: '120',
  47: '468',
  48: '20',
  49: '6',
  50: '12',
  51: '160',
  52: '37',
  53: '100',
  54: '385',
  55: '37',
  56: '165',
  57: '38',
  58: '30',
  59: '89',
  60: '34',
  61: '19',
  62: '39',
  63: '15',
  64: '49',
  65: '80',
  66: '88',
  67: '396',
  68: '250',
  69: '81',
  70: '88',
  71: '38',
  72: '150',
  73: '20',
  74: '16',
  75: '22',
  76: '147',
  77: '22',
  78: '67',
  79: '2',
  80: '11',
  81: '5',
  82: '50',
  83: '24',
  84: '20',
  85: '147',
  86: '75',
  87: '35',
  88: '11',
  89: '4',
  90: '150',
  91: '65',
  92: '58',
  93: '7',
  94: '34',
  95: '11',
  96: '109',
  97: '21',
  98: '30',
  99: '75',
  100: '26'}}

In [8]:
# displaying your modified dictionary format and previewing the first 10 rows
df_inc100_adj = pd.DataFrame.from_dict(inc100_c)
df_inc100_adj.index.rename('rank',inplace=True)
df_inc100_adj.head(10)

,name,founded,industry,metro,workers
rank,,,,,
1,Skillz,2012-01-01,Software,San Francisco,58
2,EnviroSolar Power,2012-01-01,Energy,Dallas,85
3,Gametime,2013-01-01,Consumer Products & Services,San Francisco,75
4,Club Pilates Franchise,2007-01-01,Consumer Products & Services,Los Angeles,55
5,Halo Top Creamery,2012-01-01,Food & Beverage,Los Angeles,10
6,Small Business Owners of America,2011-01-01,Financial Services,"Columbus, OH",15
7,AutomotiveMastermind,2012-01-01,Software,New York City,102
8,Liftoff,2012-01-01,Advertising & Marketing,San Jose,85
9,Greenspire,2012-01-01,Energy,Los Angeles,150
10,FormulaFolio Investments,2011-01-01,Financial Services,"Grand Rapids-Wyoming, MI",43

#### d. (1 point) Import the full Inc. 5000 data directly into a DataFrame using an appropriate method, specifying the rank column as the index column. Preview the top 10 fastest growing companies in the data set. After previewing the data, you may notice that the order of the columns is probably not ideal for easily reading the data. For example, the name of the company is in the last column, which should probably be listed first. Reorder the columns of the DataFrame in the following order:

company
founded
leadership
industry
workers
city
metro
state_s
website
Note that you should drop the state_l, url, and id columns. Again, preview the top 10 ranked companies.

In [9]:
# import the full Inc. 5000 data directly into a DataFrame using an appropriate method, 
# specifying the rank column as the index column
df_d = pd.read_csv('inc5000_2017.csv', header=0, index_col='rank')
# drop the state_l, url, and id columns
df_d = df_d.drop(['state_l', 'url', 'id'],axis=1)
df_d.head(10)

,state_s,city,metro,workers,industry,website,leadership,founded,company
rank,,,,,,,,,
1,CA,San Francisco,San Francisco,58,Software,http://skillz.com,Andrew Paradise,2012-01-01,Skillz
2,TX,Fort Worth,Dallas,85,Energy,http://envirosolarpower.com,Abraham Issa,2012-01-01,EnviroSolar Power
3,CA,San Francisco,San Francisco,75,Consumer Products & Services,http://gametime.co,Brad Griffith,2013-01-01,Gametime
4,CA,Costa Mesa,Los Angeles,55,Consumer Products & Services,http://clubpilates.com,Anthony Geisler,2007-01-01,Club Pilates Franchise
5,CA,Los Angeles,Los Angeles,10,Food & Beverage,http://halotop.com,Justin Woolverton,2012-01-01,Halo Top Creamery
6,OH,Columbus,"Columbus, OH",15,Financial Services,http://sbooa.com,James Moore,2011-01-01,Small Business Owners of America
7,NY,New York City,New York City,102,Software,http://automotivemastermind.com,Marco Schnabl,2012-01-01,AutomotiveMastermind
8,CA,Palo Alto,San Jose,85,Advertising & Marketing,http://liftoff.io,Mark Ellis,2012-01-01,Liftoff
9,CA,Los Angeles,Los Angeles,150,Energy,http://greenspirehome.com,David Murray,2012-01-01,Greenspire
10,MI,Grand Rapids,"Grand Rapids-Wyoming, MI",43,Financial Services,http://formulafolios.com,Jason Wenk,2011-01-01,FormulaFolio Investments

In [10]:
# reorder the columns
df_d_adj = df_d[['company','founded','leadership','industry','workers','city','metro','state_s','website']]
df_d_adj.head(10)

,company,founded,leadership,industry,workers,city,metro,state_s,website
rank,,,,,,,,,
1,Skillz,2012-01-01,Andrew Paradise,Software,58,San Francisco,San Francisco,CA,http://skillz.com
2,EnviroSolar Power,2012-01-01,Abraham Issa,Energy,85,Fort Worth,Dallas,TX,http://envirosolarpower.com
3,Gametime,2013-01-01,Brad Griffith,Consumer Products & Services,75,San Francisco,San Francisco,CA,http://gametime.co
4,Club Pilates Franchise,2007-01-01,Anthony Geisler,Consumer Products & Services,55,Costa Mesa,Los Angeles,CA,http://clubpilates.com
5,Halo Top Creamery,2012-01-01,Justin Woolverton,Food & Beverage,10,Los Angeles,Los Angeles,CA,http://halotop.com
6,Small Business Owners of America,2011-01-01,James Moore,Financial Services,15,Columbus,"Columbus, OH",OH,http://sbooa.com
7,AutomotiveMastermind,2012-01-01,Marco Schnabl,Software,102,New York City,New York City,NY,http://automotivemastermind.com
8,Liftoff,2012-01-01,Mark Ellis,Advertising & Marketing,85,Palo Alto,San Jose,CA,http://liftoff.io
9,Greenspire,2012-01-01,David Murray,Energy,150,Los Angeles,Los Angeles,CA,http://greenspirehome.com
10,FormulaFolio Investments,2011-01-01,Jason Wenk,Financial Services,43,Grand Rapids,"Grand Rapids-Wyoming, MI",MI,http://formulafolios.com

#### e. (1 point) Upon examining the founding date for each company, you may observe that there are a lot of companies that were 'founded' on January 1. Most likely, these companies were not all founded on New Years Day, but rather there is a lack of information regarding the specific day and month when the company was founded. So rather than list a full date, let's reduce the founding date to just the year, which is the most meaningful (and accurate) unit of time in the data. Using a vectorized approach, convert the 'founded' column into an integer value containing just the year of the founding data. Summarize the frequency of companies that were founded in each year, and describe any trends that you observe in the data. You may want to utilize the following statement so that you can display all of the years in your summary:

pd.set_option('display.max_rows', 500)

In [11]:
# convert the 'founded' column into an integer value containing just the year of the founding data
df_d_adj['founded'] = df_d_adj['founded'].str[:4]
df_d_adj['founded'] = df_d_adj['founded'].astype(int)

What I observed from the following list is that the earlier the company founded, the less possible that the company existing now.

In [12]:
pd.set_option('display.max_rows', 500)
df_d_adj.founded.value_counts().sort_index(ascending=False)

2013    172
2012    405
2011    400
2010    390
2009    445
2008    361
2007    323
2006    245
2005    236
2004    217
2003    223
2002    165
2001    194
2000    132
1999    142
1998     97
1997     92
1996     87
1995     60
1994     55
1993     43
1992     40
1991     38
1990     34
1989     33
1988     25
1987     30
1986     41
1985     22
1984     19
1983     24
1982     17
1981     13
1980     13
1979     14
1978     10
1977      8
1976     16
1975     10
1974      3
1973      2
1972      8
1971      2
1970      8
1969      3
1968      2
1967      4
1965      6
1964      4
1963      1
1962      2
1961      1
1960      3
1959      5
1958      2
1956      5
1953      3
1952      1
1951      2
1950      1
1949      3
1948      3
1947      2
1946      4
1945      4
1941      1
1938      1
1937      1
1936      1
1933      1
1929      1
1928      1
1925      1
1923      1
1921      1
1920      1
1919      1
1916      1
1915      1
1914      1
1908      1
1902      1
1897      1
1895      1
1890      1
1873      1
1869      1
1865      1
1840      1
0         3
Name: founded, dtype: int64

#### f. (1 point) Discretize the number of workers for each company into reasonable categories based on the distribution in the data set. Summarize the frequency of these discretized categories and comment on the size of companies on the Inc. 5000 list.

Most of the companies have less than 1000 workers.

In [13]:
# find the max and min values of numbers of workers
print(df_d_adj.workers.max())
print(df_d_adj.workers.min())

140000
0

In [14]:
## set bins
bins = np.array(range(0,140001,1000))
## use pd.cut to bin the data by 10 years and then group by those bins
df_d_adj['company'].groupby(pd.cut(df_d_adj['workers'], bins)).size()

workers
(0, 1000]           4853
(1000, 2000]          71
(2000, 3000]          26
(3000, 4000]          16
(4000, 5000]           9
(5000, 6000]           6
(6000, 7000]           1
(7000, 8000]           4
(8000, 9000]           1
(9000, 10000]          2
(10000, 11000]         0
(11000, 12000]         3
(12000, 13000]         1
(13000, 14000]         0
(14000, 15000]         0
(15000, 16000]         0
(16000, 17000]         0
(17000, 18000]         0
(18000, 19000]         1
(19000, 20000]         1
(20000, 21000]         0
(21000, 22000]         0
(22000, 23000]         0
(23000, 24000]         0
(24000, 25000]         1
(25000, 26000]         0
(26000, 27000]         0
(27000, 28000]         0
(28000, 29000]         1
(29000, 30000]         0
(30000, 31000]         0
(31000, 32000]         0
(32000, 33000]         0
(33000, 34000]         0
(34000, 35000]         0
(35000, 36000]         1
(36000, 37000]         0
(37000, 38000]         1
(38000, 39000]         0
(39000, 40000]         0
(40000, 41000]         0
(41000, 42000]         0
(42000, 43000]         0
(43000, 44000]         0
(44000, 45000]         0
(45000, 46000]         0
(46000, 47000]         0
(47000, 48000]         0
(48000, 49000]         0
(49000, 50000]         0
(50000, 51000]         0
(51000, 52000]         0
(52000, 53000]         0
(53000, 54000]         1
(54000, 55000]         0
(55000, 56000]         0
(56000, 57000]         0
(57000, 58000]         0
(58000, 59000]         0
(59000, 60000]         0
(60000, 61000]         0
(61000, 62000]         0
(62000, 63000]         0
(63000, 64000]         0
(64000, 65000]         0
(65000, 66000]         0
(66000, 67000]         0
(67000, 68000]         0
(68000, 69000]         0
(69000, 70000]         0
(70000, 71000]         0
(71000, 72000]         0
(72000, 73000]         0
(73000, 74000]         0
(74000, 75000]         0
(75000, 76000]         0
(76000, 77000]         0
(77000, 78000]         0
(78000, 79000]         0
(79000, 80000]         0
(80000, 81000]         0
(81000, 82000]         0
(82000, 83000]         0
(83000, 84000]         0
(84000, 85000]         0
(85000, 86000]         0
(86000, 87000]         0
(87000, 88000]         0
(88000, 89000]         0
(89000, 90000]         0
(90000, 91000]         0
(91000, 92000]         0
(92000, 93000]         0
(93000, 94000]         0
(94000, 95000]         0
(95000, 96000]         0
(96000, 97000]         0
(97000, 98000]         0
(98000, 99000]         0
(99000, 100000]        0
(100000, 101000]       0
(101000, 102000]       0
(102000, 103000]       0
(103000, 104000]       0
(104000, 105000]       0
(105000, 106000]       0
(106000, 107000]       0
(107000, 108000]       0
(108000, 109000]       0
(109000, 110000]       0
(110000, 111000]       0
(111000, 112000]       0
(112000, 113000]       0
(113000, 114000]       0
(114000, 115000]       0
(115000, 116000]       0
(116000, 117000]       0
(117000, 118000]       0
(118000, 119000]       0
(119000, 120000]       0
(120000, 121000]       0
(121000, 122000]       0
(122000, 123000]       0
(123000, 124000]       0
(124000, 125000]       0
(125000, 126000]       0
(126000, 127000]       0
(127000, 128000]       0
(128000, 129000]       0
(129000, 130000]       0
(130000, 131000]       0
(131000, 132000]       0
(132000, 133000]       0
(133000, 134000]       0
(134000, 135000]       0
(135000, 136000]       0
(136000, 137000]       0
(137000, 138000]       0
(138000, 139000]       0
(139000, 140000]       1
Name: company, dtype: int64

And if we only look at the worker distribution under 10000 people, I found that most of companies are small-scale with no more than 100 workers

In [15]:
bins_10000 = np.array(range(0,10000,100))
df_d_adj['company'].groupby(pd.cut(df_d_adj['workers'], bins_10000)).size()

workers
(0, 100]        3500
(100, 200]       679
(200, 300]       253
(300, 400]       138
(400, 500]        96
(500, 600]        60
(600, 700]        44
(700, 800]        33
(800, 900]        32
(900, 1000]       18
(1000, 1100]       9
(1100, 1200]       9
(1200, 1300]      10
(1300, 1400]      13
(1400, 1500]       7
(1500, 1600]       3
(1600, 1700]       2
(1700, 1800]       7
(1800, 1900]       7
(1900, 2000]       4
(2000, 2100]       1
(2100, 2200]       2
(2200, 2300]       2
(2300, 2400]       5
(2400, 2500]       5
(2500, 2600]       3
(2600, 2700]       2
(2700, 2800]       4
(2800, 2900]       0
(2900, 3000]       2
(3000, 3100]       2
(3100, 3200]       2
(3200, 3300]       0
(3300, 3400]       1
(3400, 3500]       1
(3500, 3600]       0
(3600, 3700]       3
(3700, 3800]       1
(3800, 3900]       3
(3900, 4000]       3
(4000, 4100]       1
(4100, 4200]       0
(4200, 4300]       1
(4300, 4400]       2
(4400, 4500]       0
(4500, 4600]       0
(4600, 4700]       0
(4700, 4800]       1
(4800, 4900]       0
(4900, 5000]       4
(5000, 5100]       1
(5100, 5200]       0
(5200, 5300]       0
(5300, 5400]       0
(5400, 5500]       2
(5500, 5600]       1
(5600, 5700]       1
(5700, 5800]       0
(5800, 5900]       1
(5900, 6000]       0
(6000, 6100]       0
(6100, 6200]       0
(6200, 6300]       0
(6300, 6400]       0
(6400, 6500]       0
(6500, 6600]       0
(6600, 6700]       0
(6700, 6800]       0
(6800, 6900]       0
(6900, 7000]       1
(7000, 7100]       0
(7100, 7200]       1
(7200, 7300]       1
(7300, 7400]       0
(7400, 7500]       1
(7500, 7600]       0
(7600, 7700]       0
(7700, 7800]       0
(7800, 7900]       0
(7900, 8000]       1
(8000, 8100]       0
(8100, 8200]       0
(8200, 8300]       0
(8300, 8400]       0
(8400, 8500]       0
(8500, 8600]       0
(8600, 8700]       0
(8700, 8800]       0
(8800, 8900]       0
(8900, 9000]       1
(9000, 9100]       0
(9100, 9200]       0
(9200, 9300]       0
(9300, 9400]       0
(9400, 9500]       1
(9500, 9600]       1
(9600, 9700]       0
(9700, 9800]       0
(9800, 9900]       0
Name: company, dtype: int64

#### g. (1 point) Summarize the frequency of companies in the data set according to the city where they operate. Print the top 20 cities that are incubators for startup companies. What observations can you make about these areas, and what recommendations would you make about where new startups should locate?

In [16]:
# summarize the frequency of companies in the data set according to the city 
df_d_adj['city'].value_counts()

New York City           163
Chicago                 107
Atlanta                 107
Houston                  85
Austin                   83
San Diego                70
Dallas                   56
San Francisco            54
Portland                 47
Denver                   45
Irvine                   44
Seattle                  43
Tampa                    43
Washington               42
Los Angeles              42
Boston                   41
Phoenix                  40
Orlando                  36
Indianapolis             30
McLean                   30
Arlington                28
Columbus                 27
Alpharetta               27
Charlotte                27
Minneapolis              26
Philadelphia             26
Cincinnati               25
Scottsdale               25
Salt Lake City           25
Nashville                25
Alexandria               24
Plano                    24
Huntsville               24
Brooklyn                 23
Miami                    23
Louisville               21
Herndon                  21
Columbia                 21
Las Vegas                20
Reston                   20
Bellevue                 20
Richmond                 19
San Antonio              18
Franklin                 18
Omaha                    18
St. Louis                18
Raleigh                  17
Pittsburgh               17
Jacksonville             17
Springfield              17
Fort Lauderdale          16
Rockville                16
Virginia Beach           16
New Orleans              16
Lehi                     16
Irving                   15
Baltimore                15
Madison                  15
Addison                  15
Vienna                   15
Overland Park            15
Wilmington               14
Santa Monica             14
Roswell                  13
Englewood                13
Kansas City              13
Tempe                    13
Charleston               13
Rochester                13
Newark                   13
Fort Worth               13
Troy                     12
Greenville               12
San Jose                 12
Dublin                   12
Sarasota                 11
Boca Raton               11
Pasadena                 11
Chandler                 11
Waltham                  11
Grand Rapids             11
Birmingham               11
Baton Rouge              11
Stafford                 10
Bloomington              10
Chantilly                10
Frisco                   10
Tallahassee              10
Costa Mesa               10
Norcross                 10
Anaheim                  10
Fairfax                  10
Bethesda                  9
Falls Church              9
Tulsa                     9
King of Prussia           9
Memphis                   9
Sandy                     9
Bedford                   9
Glendale                  9
El Segundo                9
Oklahoma City             9
Redmond                   9
Cary                      9
Fayetteville              9
Cleveland                 9
Farmington Hills          9
Carrollton                9
Marietta                  9
Ashburn                   9
Duluth                    9
Carlsbad                  8
West Chester              8
Leesburg                  8
Santa Ana                 8
Mount Pleasant            8
Mesa                      8
Durham                    8
Loveland                  8
Clearwater                8
Tucson                    8
Wichita                   8
Doral                     7
Gilbert                   7
Asheville                 7
Eden Prairie              7
Lakewood                  7
Colorado Springs          7
Brentwood                 7
Oakland                   7
Park City                 7
Hollywood                 7
Carmel                    7
Lincoln                   7
Stamford                  7
Winter Park               7
Temecula                  7
Boulder                   7
Brookfield                7
Schaumburg                7
Lexington                 6
Naperville                6
Milwaukee                 6
Beaverton                 6
Woodbridge                6
Kennesaw                  6
Sunnyvale                 6
Annapolis                 6
Fresno                    6
St. Petersburg            6
Santa Clara               6
Sioux Falls               6
Walnut Creek              6
San Ramon                 6
Saint Louis               6
Lake Forest               6
Draper                    6
Southfield                6
North Charleston          6
Grapevine                 6
Newport Beach             6
Redwood City              6
Fort Myers                6
Provo                     6
Plymouth Meeting          6
Centennial                6
Fargo                     6
Aurora                    6
Lancaster                 6
Greenbelt                 6
Plainsboro                6
Vancouver                 5
Kirkland                  5
Pleasanton                5
Broomfield                5
Lakeland                  5
Valencia                  5
Sacramento                5
Rancho Cordova            5
Greenwood Village         5
Fort Wayne                5
Portsmouth                5
Exton                     5
Greensboro                5
Hauppauge                 5
Fairfield                 5
Fredericksburg            5
Bend                      5
Delray Beach              5
Independence              5
Bellingham                5
Conshohocken              5
Northbrook                5
Cedar Rapids              5
Chattanooga               5
Reno                      5
Glen Allen                5
Lafayette                 5
Allen                     5
Woburn                    5
Sterling                  5
Princeton                 5
Torrance                  5
Calabasas                 5
American Fork             5
Brunswick                 5
Pompano Beach             5
Burlington                5
Johns Creek               5
Palo Alto                 4
Los Gatos                 4
Beverly                   4
Deerfield                 4
Oak Brook                 4
Cherry Hill               4
Saratoga Springs          4
Buffalo                   4
Oceanside                 4
Waukesha                  4
Hanover                   4
Spartanburg               4
Cypress                   4
Santa Barbara             4
San Mateo                 4
Cerritos                  4
Lake Oswego               4
Sugar Land                4
Des Moines                4
Plantation                4
Boise                     4
White Plains              4
Saint Paul                4
Orange                    4
Gainesville               4
Sunrise                   4
Elk Grove Village         4
Winter Garden             4
Westlake                  4
Huntington Beach          4
Livonia                   4
Campbell                  4
Framingham                4
Novi                      4
South Jordan              4
Chapel Hill               4
Westlake Village          4
Camarillo                 4
Lynnwood                  4
West Palm Beach           4
Honolulu                  4
                       ...
Stuart                    1
Summerfield               1
Lake Charles              1
Hanalei                   1
Saint Charles             1
New Glarus                1
Copley                    1
Coppell                   1
Newfields                 1
St. Peters                1
Archie                    1
Apopka                    1
Seville                   1
VIRGINIA BEACH            1
Murrieta                  1
Rutherford, Napa          1
Rosemead                  1
Hudson                    1
Garden Grove              1
Bingham Farms             1
Belleair Bluffs           1
Union Grove               1
Billerica                 1
Villanova                 1
Blue Mounds               1
Jericho                   1
Freehold                  1
Battlefield               1
Council Bluffs            1
Chambersburg              1
Aspen                     1
Hutchinson                1
saratoga springs          1
Roslyn Heights            1
Aberdeen                  1
Old Saybrook              1
SCHAUMBURG                1
Shaker Heights            1
Ponte Vedra Beach         1
Louisa                    1
santa Barbara             1
tempe                     1
El Dorado Hills           1
Huntington Station        1
Dunwwoody                 1
Dania                     1
North Riverside           1
North Bend                1
Mequon                    1
Reseda                    1
Muskego                   1
Toms River                1
Hamden                    1
Sinking Spring            1
Effingham                 1
Allston                   1
Belleville                1
Oak Ridge North           1
Harrison                  1
Midwest City              1
Avondale                  1
WEST VALLEY CITY          1
Plant City                1
Harriman                  1
Oldsmar                   1
Corning                   1
Richfield                 1
East Hartford             1
McMurray                  1
Wayland                   1
Los Alamitos              1
Berlin                    1
Rome                      1
Olathe                    1
Kimberton                 1
Bay Shore                 1
Pico Rivera               1
Smithfield                1
Mission Viejo             1
North Huntingdon          1
Cottonwood Heights        1
Land O Lakes              1
Georgetown                1
Warner Robins             1
Brisbane                  1
Acton                     1
Annandale                 1
Fairlawn                  1
Davenport                 1
Kernersville              1
Logan                     1
North Venice              1
Encinitas                 1
Monsey                    1
Schnecksville             1
Sharon                    1
Waconia                   1
Bethel Park               1
Sun Valley                1
Brownsboro                1
Goshen                    1
Barnesville               1
Lisle                     1
Nampa                     1
Glenview                  1
South Riding              1
Worthington               1
Jensen Beach              1
Thousand Oaks             1
Kissimmee                 1
Lenexa                    1
YAKIMA                    1
West Babylon              1
Ft Mitchell               1
Bronx                     1
Youngstown                1
Dresher                   1
Charlestown               1
Bonita Springs            1
West Conshocken           1
Lake St. Louis            1
La Crescenta              1
State College             1
The Villages              1
Edmonds                   1
Reynoldsburg              1
SCOTTSDALE                1
Edgewood                  1
Fleetwood                 1
Conyers                   1
Fort Pierce               1
Chadwick                  1
Maple Grove               1
Poseyville                1
Beloit                    1
Palatine                  1
Morley                    1
Longs                     1
Lake Worth                1
Somerville                1
Champaign                 1
South Burlington          1
Gahanna                   1
Mishawaka,                1
Traverse City             1
Indian Harbour Beach      1
Everett                   1
West Lafayette            1
North Attleborough        1
Garner                    1
Bay City                  1
Mendota Heights           1
New Palestine             1
Ellwood City              1
College Point             1
Watseka                   1
SOUTHBOROUGH              1
West Chicago              1
Napa                      1
Bristol                   1
Anchorage                 1
Jessup                    1
North Highlands           1
Davidson                  1
Pikesville                1
Machesney Park            1
Monmouth Junction         1
Newberry                  1
Cabot                     1
Kennewick                 1
WESTLAKE                  1
Waite Park                1
North Brunswick           1
Canonsburg                1
Piscataway                1
Valley Village            1
Southlake                 1
Ceres                     1
River Falls               1
Creedmoor                 1
Peachtree Corners         1
Greenvilles               1
Bumpass                   1
Sumner                    1
St. Rose                  1
Santa Maria               1
Bentonville               1
Dandrige                  1
Carpinteria               1
Fairhope                  1
Kaukauna                  1
Columbia Falls            1
Martinsburg               1
Norwood                   1
Ottawa Lake               1
wheat ridge               1
Lago Vista                1
WARRENTON                 1
Mt.                       1
Rutherford                1
Linden                    1
Herndon, Virginia, U      1
East Norriton             1
Goleta                    1
Saint Joseph              1
Northport                 1
Holly Springs             1
Gatithersburg             1
Avon                      1
Glendora                  1
Mauldin                   1
SHREVEPORT                1
Lincolnshire              1
Blue Bell                 1
Cheektowaga               1
St. Pete Beach            1
Coventry                  1
Cleburne                  1
Van Nuys                  1
Media                     1
Grand Prairie             1
Woodside                  1
Moore                     1
Hicksville                1
Downey                    1
Noblesville               1
Kennett Square            1
Rapid City                1
Delavan                   1
Simpsonville              1
Morristown                1
White                     1
Millburn                  1
Dakota Dunes              1
Mount Dora                1
Pembroke Pines            1
Chestertown               1
Belgrade                  1
Selinsgrove               1
Miamisburg                1
Mount Joy                 1
Portage                   1
Callifornia               1
southfield                1
Secuacus                  1
Northfield                1
Ashland                   1
Palm Desert               1
Flushing                  1
Lewes                     1
Name: city, Length: 1409, dtype: int64

In [17]:
# print the top 20 cities that are incubators for startup companies
df_d_adj['city'].value_counts().head(20)

New York City    163
Chicago          107
Atlanta          107
Houston           85
Austin            83
San Diego         70
Dallas            56
San Francisco     54
Portland          47
Denver            45
Irvine            44
Seattle           43
Tampa             43
Washington        42
Los Angeles       42
Boston            41
Phoenix           40
Orlando           36
Indianapolis      30
McLean            30
Name: city, dtype: int64

The startups are generally located in big cities in northeast coast of United States, California, and Texas. Those areas is famous for tech-intensive companies and with better education resources which provide a lot of skilled workers with high-education background. Also there are also some other favorable conditions such as weather and transportation making those areas become popular location for startups. I think that these top 20 cities are very good options for a new startup founders to choose their locations.

#### h. (2 points) Explore the types of industries in some of the top 20 cities. Specifically, write a function sum_industry that takes in a DataFrame (df) and a city (default to New York City), and returns the frequency counts of the industry column. Use the function to summarize the industry concentration for New York City, Atlanta, Chicago, and Washington (DC). What observations can you make about the industry concentration in each of these markets?

In [18]:
df_h = df_d_adj.pivot_table(index='city',columns='industry', values='company', aggfunc='count',fill_value=0)

In [19]:
def sum_industry(dataframe=df_h, city='New York City'):
    print('industry concentration for', city, ':')
    print(dataframe.loc[city].sort_values(ascending=False))

Most of companies in New York City concentrate on Advertising and Marketing industry. Also, Business Products & Services and IT Services are other two main industries that companies in New York stayed in.

In [20]:
# summarize the industry concentration for New York City
sum_industry(df_h)

industry concentration for New York City :
industry
Advertising & Marketing         41
Business Products & Services    19
IT Services                     17
Human Resources                 12
Health                          10
Consumer Products & Services     9
Financial Services               8
Software                         8
Food & Beverage                  7
Media                            7
Retail                           6
Real Estate                      4
Insurance                        3
Education                        3
Construction                     3
Travel & Hospitality             3
Telecommunications               2
Government Services              1
Security                         0
Environmental Services           0
Engineering                      0
Energy                           0
Logistics & Transportation       0
Computer Hardware                0
Manufacturing                    0
Name: New York City, dtype: int64

Atlanta shows its competitive advantage on IT Services industries. Numbers of companies in Advertising, and Business Products and Services are also quite big.

In [21]:
# summarize the industry concentration for Atlanta
sum_industry(df_h,'Atlanta')

industry concentration for Atlanta :
industry
IT Services                     20
Advertising & Marketing         11
Business Products & Services    11
Software                         9
Financial Services               8
Human Resources                  8
Health                           6
Insurance                        4
Consumer Products & Services     4
Logistics & Transportation       4
Travel & Hospitality             3
Construction                     3
Real Estate                      3
Food & Beverage                  3
Retail                           2
Environmental Services           2
Government Services              2
Engineering                      1
Energy                           1
Telecommunications               1
Security                         1
Education                        0
Media                            0
Computer Hardware                0
Manufacturing                    0
Name: Atlanta, dtype: int64

Chicago has almost same numbers of companies in Business Products & Service, IT Service, Real Estate and Software industries, and relatively more companies in Advertising & Marketing industry.

In [22]:
# summarize the industry concentration for Chicago
sum_industry(df_h,'Chicago')

industry concentration for Chicago :
industry
Advertising & Marketing         17
Business Products & Services    13
IT Services                     11
Real Estate                     11
Software                        10
Financial Services               8
Human Resources                  6
Retail                           5
Consumer Products & Services     5
Logistics & Transportation       5
Health                           4
Energy                           3
Construction                     3
Security                         2
Telecommunications               1
Food & Beverage                  1
Education                        1
Travel & Hospitality             1
Insurance                        0
Government Services              0
Manufacturing                    0
Environmental Services           0
Engineering                      0
Media                            0
Computer Hardware                0
Name: Chicago, dtype: int64

In Washington, number of companies in Government Services are significantly higher than that in other industries.

In [23]:
# summarize the industry concentration for Washington (DC)
sum_industry(df_h,'Washington')

industry concentration for Washington :
industry
Government Services             13
Advertising & Marketing          4
Software                         4
Business Products & Services     4
Real Estate                      4
Consumer Products & Services     3
Energy                           3
IT Services                      2
Human Resources                  2
Media                            1
Logistics & Transportation       1
Financial Services               1
Engineering                      0
Computer Hardware                0
Construction                     0
Education                        0
Travel & Hospitality             0
Environmental Services           0
Food & Beverage                  0
Telecommunications               0
Insurance                        0
Manufacturing                    0
Retail                           0
Security                         0
Health                           0
Name: Washington, dtype: int64